# control statement: flow of outputs



*   Pass
*   Continue
*   Break

In [1]:
# for pass example

In [4]:
for i in range (1,6):
    if i ==2:
        pass
    else:
        print(i)

1
3
4
5

In [7]:
for tup in ("apple","banana","cherry"):
       if tup == "banana":
             pass
       else:
             print(tup)

apple
cherry

In [8]:
# for continue example

In [10]:
for i  in range (1,10):
    if i ==4:
        continue
    else:
        print(i)

1
2
3
5
6
7
8
9

In [12]:
for tup in ("apple","banana","cherry","hero_sai"):
       if tup == "cherry":
             continue
       else:
             print(tup)

apple
banana
hero_sai

In [13]:
# for break examples

In [15]:
for i in range(1,34):
    if i == 10:
        break
    else:
      print(i)

1
2
3
4
5
6
7
8
9

In [17]:
for string in "python":
  if string == "h":
    break
  else:
    print(string)

p
y
t