loop statement

# while - iterating with values

# for   - iterating with sequence

In [5]:
i = 0
while i <= 5:
  print(i)
  i = i + 1

0
1
2
3
4
5

In [6]:
i = 5
while i <=100:
    print(i)
    i += 10

5
15
25
35
45
55
65
75
85
95

In [8]:
# for loop examples

In [9]:
age = [12,34,23,56,76,88]
for i in age:
  print("my age is ",i)

my age is  12
my age is  34
my age is  23
my age is  56
my age is  76
my age is  88

In [10]:
# string example

In [12]:
str = "python"
for y in str:
  print(y)

p
y
t
h
o
n

In [13]:
# tup example

In [14]:
tup = ("apple","banana","hero_sai")
for hero in tup:
  print(hero)

apple
banana
hero_sai

In [15]:
st = {1,2,3,3,4,5,6,7,8,9,23,45,12,8,2,1,67,45,98}
for i in st:
  print(i)

1
2
3
4
5
6
7
8
9
67
98
12
45
23

In [16]:
# dictionary

In [17]:
dict1 = {"name":"sai","age":"24","location":"vizag"}
for key,value in dict1.items():
  print(key,value)

name sai
age 24
location vizag

In [18]:
# using f format

In [19]:
dict1 = {"name":"sai","age":"24","location":"vizag"}
for key,value in dict1.items():
  print(f'my key is {key} and my value is {value}')

my key is name and my value is sai
my key is age and my value is 24
my key is location and my value is vizag

In [21]:
for i in range (1,12):
  print(i)

1
2
3
4
5
6
7
8
9
10
11