python operators

1. Arithmetic operator: it is used with numeric values to perform common mathematical operations.

In [ ]:
a = 22
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a&b)
print(a**b)
print(a//b)

26
18
88
5.5
4
234256
5

2. comparision operator: it is used to compare two values.

In [ ]:
a = 22
b = 4
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

3. assignment operator: it is combination of both arithmetic and assignment operation.

In [ ]:
a = 22
b = 4
a+=b
print(a)

26

In [ ]:
a -= b
print(a)

22

In [ ]:
a*=b
print(a)

88

In [ ]:
a/=b
print(a)

22.0

In [ ]:
a%=b
print(a)

2.0

In [ ]:
a**=b
print(a)

16.0

4. logical operator: either one condition should be satisfy.

and: returns true if both statements are true.

or : returns true if one of the statement is true.

not: reverse the result, returns false if the result is true.

In [ ]:
True
True
False

False

5. identity operator: it is used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

is: true if both variables are same objects.


ids not: true if both variables are not same object.

In [26]:
a = 22
b = 4
print(a is b)
print(a is not b)

False
True

6. memebership operator: it is used to identify the sequence of the elememts.

in:

not in:

In [27]:
a = [1,2,3,4,5,6]
print(1 in a)
print(1 not in a)

True
False

7. bitwise operator: it is used to compare numbers.



*   & (AND)
*   | (OR)
*   ^ (XOR)
*   ~ (NOT)
*   <<(LEFT SHIFT)
*   >>(RIGHT SHIFT)

In [28]:
a = 22
b = 4
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(b<<2)
print(a>>2)
print(b>>2)

4
22
18
-23
88
16
5
1