# set()

1. collection of unique elements
2. set is unorder
3. set doesn't allow duplicate
4. set is mutable
5. it is represented by {}. and seperated by ",".

In [1]:
a = {2,8,0}
print(a)
print(type(a))

{8, 0, 2}
<class 'set'>

In [3]:
names = {"sai","vijay","sruthi"}
print(names)
print(type(names))

{'sai', 'vijay', 'sruthi'}
<class 'set'>

we can convert list into set using the set() function.

In [4]:
a = set([1,2,3,4,5,6])
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6}
<class 'set'>

# set methods

1. add() adds an element to the set

In [5]:
a = {1,2,3,4,5}
a.add(9)
print(a)

{1, 2, 3, 4, 5, 9}

In [6]:
names = {"sai","vijay","sruthi"}
names.add("sairam")
print(names)

{'sairam', 'sai', 'vijay', 'sruthi'}

remove() removes the specified element.

In [7]:
a = {1,2,3,4,5,8}
a.remove(3)
print(a)

{1, 2, 4, 5, 8}

update() used to add multiple elements from nother set,list,tuple or any literable to an existing set.

In [8]:
a = {1,2,3,4,5,8}
b = {3,4,1,3}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 8}

clear() used to remove all elements.

In [9]:
a = {1,2,3,4,5}
a.clear()
print(a)

set()

# set operaters

1. union() it combines two or more sets.

In [10]:
a = {1,2,3,4,5}
b = {0,9,8,7,6}
c = a.union(b)
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
# union of 'a' and 'b'

In [16]:
a | b

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# intersection()
Returns a new set containing only the common elements of two or more sets.

The result may contain only unique elements that exits in all sets.

In [17]:
a = {1,2,3,4,5}
b = {0,9,8,7,6,5}
c = a.intersection(b)
print(c)

{5}

In [18]:
# intersection of 'a'and 'b'

In [19]:
a & b

{5}

In [20]:
# difference ("b-a")

In [21]:
a = {1,2,3,4,5}
b = {0,9,8,7,6,5}
c = a.difference(b)
print(c)

{1, 2, 3, 4}

symmetric difference()
Returns a new set containing elements that are in either set A or set B, but not in both.


you can use the ^ operater.

In [25]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}
result = a.symmetric_difference(b)
print(result)

{1, 2, 6, 7}

In [26]:
a^b

{1, 2, 6, 7}