# string methods
- sequence of a character
- it is representated by ''or " " or '" '"

In [ ]:
# examples

In [ ]:
word = "Data science"
print(word[3])

a

In [ ]:
print(word[2:7])

ta sc

# .Format method()

In [ ]:
# examples

In [ ]:
name = "sai"
age = 24
print('my name is {} and i am {} old'.format(name,age))

my name is sai and i am 24 old

In [ ]:
institute = "school"
place = "vizag"
print('i am studying {} in {}'.format(institute,place))

i am studying school in vizag

# f.string method()

In [ ]:
# examples

In [ ]:
print(f'i am studying {institute} in {place}')

i am studying school in vizag

# concatation - To add the given list elements.

In [ ]:
# examples

In [ ]:
a = "hello"
b = "world"
c = a + " " + b
print(c)

hello world

In [ ]:
word = "teks"
place = "hitech city"
print(word + " " + place)

teks hitech city

In [ ]:
a = "vizag"
b = "city"
print(a + " " + b)

vizag city

# repeatation - To repeat the list.

In [ ]:
# examples

In [ ]:
sentence = "it will start at 7:30 pm"
print(sentence * 3)

it will start at 7:30 pmit will start at 7:30 pmit will start at 7:30 pm

In [ ]:
word = "i have three bags"
print(word * 5)

i have three bagsi have three bagsi have three bagsi have three bagsi have three bags

In [ ]:
announcement = "CMR is giving 50% offer"
print(announcement * 2)

CMR is giving 50% offerCMR is giving 50% offer

# string methods

# len() - To measure the list.

In [ ]:
a = "python"
print(len(a))

6

In [ ]:
word = "hello world"
print(len(word))

11

In [ ]:
place = "vizag"
print(len(place))

5

In [ ]:
star = "twinkle"
print(len(star))

7

In [ ]:
marks = "tenth"
print(len(marks))

5

# upper() - To change the list into lower to upper.

In [ ]:
# examples

In [ ]:
a = "name"
print(a.upper())

NAME

In [ ]:
word = "apple"
print(word.upper())

APPLE

In [ ]:
place = "vizag"
print(place.upper())

VIZAG

In [ ]:
marks = "attendence"
print(marks.upper())

ATTENDENCE

In [ ]:
h = "shelter"
print(h.upper())

SHELTER

# lower() - To change the list into upper to lower.

In [ ]:
# examples

In [ ]:
word = "PYTHON"
print(word.lower())

python

In [ ]:
sentence = "I AM A BAD BOY"
print(sentence.lower())

i am a bad boy

In [ ]:
place = "VIZAG CITY"
print(place.lower())

vizag city

In [ ]:
name = "SAI"
print(name.lower())

sai

In [ ]:
values = "SIXTY"
print(values.lower())

sixty

# count()

In [ ]:
# examples

In [ ]:
a = "data science"
print(a.count('e'))

2

In [ ]:
word = "pythonpp"
print(word.count('p'))

3

In [ ]:
sentence = "i am a bad boy in the classroom"
print(sentence.count('a'))

4

In [ ]:
train = "the train has been stopped"
print(train.count('p'))

2

In [ ]:
values = "sixteen and some integers"
print(values.count('e'))

5

# split() - To split the data.

In [ ]:
# examples

In [ ]:
v = "i am the one"
print(v.split())

['i', 'am', 'the', 'one']

In [ ]:
word = "he is a bad boy"
print(word.split())

['he', 'is', 'a', 'bad', 'boy']

In [ ]:
train = "it has started in the morning"
print(train.split())

['it', 'has', 'started', 'in', 'the', 'morning']

In [ ]:
class_var = "he is a good boy in the class"
print(class_var.split())

['he', 'is', 'a', 'good', 'boy', 'in', 'the', 'class']

# strip() - To remove the white space in starting and ending of the element.

In [ ]:
# examples

In [ ]:
a = "_name"
print(a.strip())

_name